@import "./assets/variables/fonts.css";
@import "./assets/variables/vars.css";

html {
      height: 100%;    
      margin: 0;
 
    }
    
    body {
      margin: 0;
      height: 100%;
      position: relative;
      font-family: FiraSans-Regular!important;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      text-decoration: none;
      border: none;
    }
    
    ul,
    ol,
    li {
      list-style: none;
    }

    .text{
      color: var(--custom_green);
    }

    /* https://www.sketch.com/s/2bc45248-7015-4b6e-9d81-8662cd1cb248/a/lpg5w7 */
