@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html {
  width: 100%;

  body {
    font-family: FiraSans-Regular !important;
    width: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 55px;

  img {
    display: none;
  }

  &.white-header {
    background: #fff;
    box-shadow: 0 5px 4px -3px rgba(0, 0, 0, .22);

    .logo {
      .black {
        display: block;
      }
    }

    nav {
      a {
        color: #000;
      }
    }
  }

  &.black-header {
    background: transparent;

    .logo {
      .white {
        display: block;
      }
    }

    nav {
      a {
        color: #fff;
      }
    }
  }

  @media only screen and (max-width: 960px) {
    justify-content: center;
  }

  .logo {
    margin-top: 6px;
    margin-left: 40px;
    width: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

    @media only screen and (max-width: 960px) {
      margin-left: 0;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 40px;

    @media only screen and (max-width: 960px) {
      display: none;
    }

    a {
      margin-left: 30px;
      color: #000;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
    }
  }
}

.main-section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../images/CR_Tokyo.jpg") no-repeat;
  background-size: cover;
  z-index: -101;

  #video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    display: none;

    @media only screen and (max-width: 960px) {
      display: none !important;
    }
  }

  .heading {
    z-index: 3;

    h1 {
      width: 642px;
      font-weight: 500;
      color: #ffffff;
      font-size: 70px;
      line-height: 80px;
      text-transform: uppercase;
      text-align: center;

      @media only screen and (max-width: 1140px) {
        font-size: 45px;
        line-height: 55px;
        width: 275px;
      }
    }
  }

  .horizontal-divider {
    top: auto;
    bottom: 20px;

    &.center-align {
      left: calc(50% - 7.5);
    }

    .line {
      background: #fff;
      height: 30px;
      width: 4px;
    }

    .circle {
      border: 4px solid #fff;
      width: 15px;
      height: 15px;
    }

    &:active {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    .action {
      color: #fff;
      font-weight: 700;
      margin-top: 8px;
    }
  }
}

.container {
  max-width: 1300px;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  @media only screen and (max-width: 1380px) {
    margin: 0 40px;
    width: calc(100% - 80px);
  }
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 120px 0;
  position: relative;
  justify-content: center;

  .horizontal-divider {
    top: -120px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 960px) {
      justify-content: start;
      flex-direction: column;
    }

    .left-side {
      max-width: 480px;
      width: 100%;
      @media only screen and (max-width: 960px) {
        max-width: 100%;
      }

      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: #000;
      }
    }

    .right-side {
      max-width: 580px;
      margin-left: 120px;
      width: 100%;
      @media only screen and (max-width: 960px) {
        margin-left: 0;
        margin-top: 40px;
        max-width: 100%;
      }

      p {
        color: #000;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.developers {
  width: 100%;
  background: $custom_green;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 120px 0;
  position: relative;
  justify-content: center;

  .horizontal-divider {
    top: -120px;

    .line {
      background: #fff;
    }

    .circle {
      border: 3px solid #fff;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 960px) {
      justify-content: start;
      flex-direction: column;
    }

    .left-side {
      max-width: 480px;
      width: 100%;

      @media only screen and (max-width: 960px) {
        max-width: 100%;
      }

      h2 {
        font-weight: 700;
        color: #fff;
        font-size: 40px;
        line-height: 46px;
      }
    }

    .right-side {
      max-width: 580px;
      margin-left: 120px;
      width: 100%;

      @media only screen and (max-width: 960px) {
        margin-left: 0;
        margin-top: 40px;
        max-width: 100%;
      }

      p {
        font-weight: 400;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.developers-community {
  width: 100%;
  min-height: 329px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 51px;
      max-width: 800px;
    }

    a {
      width: 228px;
      height: 55px;
      background: $custom_green;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
      color: #fff;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.technology {
  width: 100%;
  background: $custom_grey;
  padding: 120px 0 60px;
  position: relative;
  display: flex;
  justify-content: center;

  .horizontal-divider {
    top: -120px;
  }

  .container {
    h2 {
      color: #000;
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      margin-bottom: 80px;
    }

    .technology-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -20px;

      @media only screen and (max-width: 600px) {
        margin: 0;
      }

      @media only screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }

      .technology-item {
        margin: 0 20px 60px;
        width: 280px;
        text-align: center;

        @media only screen and (max-width: 600px) {
          margin: 0 0 60px;
          width: 100%;
        }

        img {
          margin-bottom: 16px;
        }

        h3 {
          color: #000;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 10px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #000;
        }
      }
    }
  }
}

.products {
  width: 100%;
  min-height: 614px;
  background: #fff;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  .container {
    h2 {
      color: $custom_green;
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      margin-bottom: 17px;
    }

    .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -20px;

      @media only screen and (max-width: 600px) {
        margin: 0;
      }

      @media only screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
      }

      .product-item {
        margin: 0 20px 60px;
        max-width: 480px;
        width: 100%;
        text-align: center;

        @media only screen and (max-width: 600px) {
          margin: 0 0 60px;
        }

        img {
          margin-bottom: 30px;
          max-width: 400px;
          max-height: 266px;
          width: 100%;
          height: 100%;
        }

        h3 {
          color: #000;
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 10px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #000;
        }
      }
    }
  }
}

.team {
  width: 100%;
  background: #000;
  padding: 120px 0 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .horizontal-divider {
    top: -120px;

    .line {
      background: #fff;
    }

    .circle {
      border: 3px solid #fff;
    }
  }

  .container {
    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      margin-bottom: 60px;
    }

    .team-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -30px;

      @media only screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
      }

      @media only screen and (max-width: 600px) {
        margin: 0;
      }

      .team-item {
        margin: 0 30px 60px;
        width: 258px;
        text-align: center;

        @media only screen and (max-width: 600px) {
          width: 100%;
          margin: 0 0 60px;
        }

        img {
          margin-bottom: 20px;
          max-width: 158px;
          max-height: 170px;
          width: 100%;
          height: 100%;
        }

        .heading {
          margin-bottom: 15px;

          .name {
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 5px;
          }

          .position {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $custom_green;
          }
        }

        ul {
          margin-left: 40px;

          li {
            color: #fff;
            text-align: left;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
          }
        }
      }
    }

    .advisory-board-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -20px;

      @media only screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }

      @media only screen and (max-width: 600px) {
        margin: 0;
      }

      .advisory-board-item {
        margin: 0 20px 60px;
        width: 470px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 1100px) {
          width: 100%;
          margin: 0 0 60px;
        }

        @media only screen and (max-width: 600px) {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 0 60px;
        }

        img {
          margin-bottom: 20px;
          max-width: 158px;
          max-height: 170px;
          width: 100%;
          height: 100%;
        }

        .content {
          margin-left: 50px;
          @media only screen and (max-width: 600px) {
            margin-left: 0;
          }

          .name {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            margin-bottom: 5px;
            @media only screen and (max-width: 600px) {
              text-align: center;
            }
          }

          .position {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $custom_green;
            @media only screen and (max-width: 600px) {
              text-align: center;
            }
          }

          .description {
            margin-top: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            @media only screen and (max-width: 600px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.contact {
  width: 100%;
  background: $custom_green;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  position: relative;

  .horizontal-divider {
    top: -120px;

    .line {
      background: #fff;
    }

    .circle {
      border: 3px solid #fff;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media only screen and (max-width: 960px) {
      flex-direction: column;
    }

    .left-side {
      max-width: 420px;
      width: 100%;

      @media only screen and (max-width: 960px) {
        max-width: 100%;
        margin-bottom: 60px;
      }

      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: #fff;
      }
    }

    .right-side {
      max-width: 480px;
      width: 100%;
      margin-left: 40px;

      @media only screen and (max-width: 960px) {
        max-width: 100%;
        margin-left: 0;
      }

      form {
        width: 100%;

        .form-field {
          margin-bottom: 37px;

          input {
            width: 100%;
            height: 28px;
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            padding-bottom: 4px;

            &::placeholder {
              color: #fff;
              padding-bottom: 4px;
            }
          }
        }

        .submit {
          margin-top: 23px;

          button {
            width: 228px;
            height: 55px;
            background: #000;
            font-weight: 700;
            color: #fff;
            font-size: 20px;
            line-height: 40px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.contact-info {
  width: 100%;
  min-height: 280px;
  background: #fff;
  padding: 120px 0 60px;
  position: relative;
  display: flex;
  justify-content: center;

  .horizontal-divider.main {
    display: none;
    top: -120px;

    @media only screen and (max-width: 800px) {
      display: flex;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: 1400px) {
      flex-direction: column;
      align-items: center;
    }

    .left-side {
      display: flex;
      min-height: 70px;
      align-items: center;


      @media only screen and (max-width: 1400px) {
        order: 2;
        width: 100%;
        justify-content: space-between;
      }

      .logo {
        img {
          margin-right: 20px;
          width: 165px;
          height: 70px;
        }
      }

      .linkedin-icon {
        margin-left: 20px;
      }

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 46px;
        color: #000;
        min-width: 185px;

        @media only screen and (max-width: 800px) {
          display: none;
        }
      }
    }

    .right-side {
      display: flex;
      margin-left: 40px;

      @media only screen and (max-width: 1400px) {
        order: 1;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-left: 0;
      }

      @media only screen and (max-width: 800px) {
        flex-direction: column;
        margin-left: 0;
      }

      .email {
        font-weight: 700;
        font-size: 30px;
        line-height: 46px;
        color: #000;
        margin-bottom: 27px;
        display: none;

        @media only screen and (max-width: 800px) {
          display: block;
        }

        @media only screen and (max-width: 500px) {
          font-size: 26px;
          line-height: 36px;
        }
      }

      .address {
        position: relative;

        .horizontal-divider {
          top: -120px;
          left: 0;

          @media only screen and (max-width: 800px) {
            display: none;
          }

          .line {
            background: #00D7B5;
          }

          .circle {
            border: 3px solid #00D7B5;
          }
        }

        &:not(:first-child) {
          margin-left: 30px;

          @media only screen and (max-width: 800px) {
            margin-left: 0;
            margin-top: 40px;
          }
        }

        h4 {
          font-weight: 700;
          font-size: 30px;
          line-height: 46px;
          color: #000;
          margin-bottom: 12px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #000;
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  width: 100%;
  height: 93px;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #989898;
    text-align: center;
  }
}


.horizontal-divider {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  animation-duration: 2s;

  .line {
    width: 3px;
    height: 80px;
    background: #000;
  }

  .circle {
    width: 13px;
    height: 13px;
    background: initial;
    border-radius: 50%;
    border: 3px solid #000;
  }

  &.left-align {
    left: 0;
  }

  &.right-align {
    right: 0;
  }

  &.center-align {
    left: calc(50% - 6.5px);
  }
}

.vertical-divider {
  @media only screen and (max-width: 1450px) {
    display: none;
  }
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1;
  width: 200px;
  top: 190px;
  animation-duration: 2s;

  &.left-align {
    left: 0;
  }

  &.right-align {
    right: 0;
  }

  .line {
    height: 3px;
    background: #eee;
    width: calc(100% - 13px);
  }

  .circle {
    width: 13px;
    height: 13px;
    background: initial;
    border-radius: 50%;
    border: 3px solid #eee;
  }
}
